.newsletterImage {
  width: 95%;
  max-width: 538px;
}

.bgGreen {
  background-color: var(--ifm-color-primary-lightest);
}

.roundedCorner {
  border-radius: 25px;
}

.emoji {
  font-size: 100px;
  display: block;
}

.gem::after {
  content: "\1F48E";
}

.web::after {
  content: "\1F578";
}

.seeding::after {
  content: "\1F331";
}

.timer::after {
  content: "\23F2";
}

.sparkles::after {
  content: "\2728";
}

.monocle::after {
  content: "\1F9D0";
}

/* button from Katherine Kato: https://codepen.io/kathykato/pen/gOOjgmP */

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

button.learnMore {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: var(--ifm-color-primary-lightest);
  border: 2px solid var(--ifm-color-primary-darker);
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learnMore::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--ifm-color-primary-dark);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--ifm-color-primary-darker), 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learnMore:hover {
  background: var(--ifm-color-primary-lightest);
  transform: translate(0, 0.25em);
}

button.learnMore:hover::before {
  box-shadow: 0 0 0 2px var(--ifm-color-primary-darker), 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}

button.learnMore:active {
  background: var(--ifm-color-primary-light);
  transform: translate(0em, 0.75em);
}

button.learnMore:active::before {
  box-shadow: 0 0 0 2px var(--ifm-color-primary-darker), 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}
