.newsletterImage {
  width: 95%;
  max-width: 538px;
}

.bgGreen {
  background-color: var(--ifm-color-primary-lightest);
}

.roundedCorner {
  border-radius: 25px;
}

.emoji {
  font-size: 100px;
  display: block;
}

.gem::after {
  content: "\1F48E";
}

.web::after {
  content: "\1F578";
}

.seeding::after {
  content: "\1F331";
}

.timer::after {
  content: "\23F2";
}

.sparkles::after {
  content: "\2728";
}

.monocle::after {
  content: "\1F9D0";
}
